html {
    background-color: rgb(26, 24, 62);
}

body {
    font-family: Arial, Helvetica, sans-serif;

    background: url('../images/wallpaper.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}

#container {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    background: rgb(79, 79, 79);
    background: linear-gradient(320deg, #555555, #666666, #707070);
    
    border: 2px solid #000000;
    border-radius: 2vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1vh;

    margin: 2vh;
    padding: 1vh;
}

#calculatorScreen {
    background-color: #0a0a0a;
    border: .25vh solid black;
    border-radius: 1vh;
 
    color: white;
    font-size: 5vh;
    text-align: right;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    padding-right: 2vh;
    
    min-height: 8.37vh;
}

#key-enter {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 10px;
}

#key-enter,
#key-clear {
    font-size: 2vh;    
}

button {
    background: linear-gradient(150deg, #0f0f0f, #222222);
    border: .25vh solid black;
    border-radius: 1vh;

    color: #ffffff;

    font-size: 2.5vh;  
    margin: 0vh;
    min-width: 8.37vh;
    min-height: 8.37vh;
    
}

button:active {
    background: linear-gradient(130deg, #0f0f0f, #151515);
    border: .5vh solid black;
}



/* calculator keypad ordering */

#calculatorScreen { order: 1; grid-column: span 4;}
#key-1 { order: 14; }
#key-2 { order: 15; }
#key-3 { order: 16; }
#key-4 { order: 10; }
#key-5 { order: 12; }
#key-6 { order: 12; }
#key-7 { order: 6; }
#key-8 { order: 7; }
#key-9 { order: 8; }
#key-0 { order: 18; grid-column: span 2; }
#key-plus { order: 13; }
#key-minus { order: 9; }
#key-multiply { order: 5; }
#key-divide { order: 4; }
#key-clear { order: 2; }
#key-decimal { order: 19; }
#key-equals { order: 3; }
#key-enter { order: 17; grid-row: span 2; }
